@import "tailwindcss";

body {
  font-family: "Cairo", sans-serif;
}
:root {
  --primary-color: #3d4bea;
  --secondary-color: #03aff1;
  --primary-gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}
@theme {
  --color-primary: #3d4bea;
  --color-secondary: #03aff1;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* change this to your header's height */
}
